* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
header {
  font-family: "Montserrat";
  background-color: white;
}
.welcome {
  display: flex;
  flex-direction: row;
  max-width: 946px;
  height: 171px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.welcome-left {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #525252;
}
.welcome-right {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
}
.social {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1.5px solid #525252;
  text-align: center;
}
.fab {
  color: #525252;
  width: 35px;
  height: 35px;
  position: relative;
  bottom: 2px;
  right: 2px;
  padding-top: 9px;
  padding-left: 1px;
}
.social:hover {
  border: 1.5px solid #e79e5a;
}
.fab:hover {
  color: #e79e5a;
}
.social:nth-child(2),
.social:nth-child(3),
.social:nth-child(4) {
  margin-left: 11px;
}
.header-content hr {
  position: relative;
  bottom: 4px;
  margin: 0 64px 0 64px;
}
.navbar {
  max-width: 946px;
  margin-left: auto;
  margin-right: auto;
}
.nav-item {
  margin: 10px 50px 10px 0;
}
.nav-link {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2.0999999046325684px;
  text-align: left;
  color: #525252;
}
.nav-link:hover {
  color: #e79e5a;
}
.navbar button {
  outline: none;
}
.banner,
.posts,
.instagram {
  background-color: #f2f2f2;
}
.banner {
  padding-bottom: 67px;
}
.banner-container {
  max-width: 946px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 81px;
}
.inner-link {
  position: relative;
  bottom: 180px;
  background-color: #ffffff;
  max-height: 130px;
  max-width: 643px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.89;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 20px 0 15px 0;
}
.inner-link span {
  background-color: #e79e5a;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  padding: 5px 13px 5px 13px;
}
.inner-link p {
  font-size: 24px;
  font-family: "Gilda Display";
  margin-top: 10px;
}
.d-block:hover,
.lower-banner .row .col-lg-4 img:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.lower-banner .row .col-lg-4 {
  position: relative;
  margin-top: 39px;
}
.lower-banner .row .col-lg-4 img {
  width: 100%;
}
.lower-banner .row .col-lg-4 span,
.lower-banner .row .col-lg-4 p {
  position: absolute;
}
.lower-banner .row .col-lg-4 span {
  bottom: 85px;
  left: 32px;
  height: 21px;
  width: 55px;
  background-color: #e79e5a;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 14.63px;
  text-align: center;
  padding-top: 3px;
}
.lower-banner .row .col-lg-4 p {
  left: 32px;
  font-size: 18px;
  line-height: 21.19px;
  font-family: "Gilda Display";
  color: #ffffff;
}
.lower1 {
  bottom: 22px;
}
.lower2,
.lower3 {
  bottom: 0;
}
.posts-container {
  max-width: 946px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.post-title {
  max-width: 267px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #e79e5a;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.post-title p {
  font-family: "Gilda Display";
  font-size: 24px;
  line-height: 28.25px;
  padding-top: 8px;
}
.posts-container .row {
  margin-top: 20px;
}
.posts-container .row .col-lg-4 {
  width: 100%;
  margin-top: 47px;
}
.posts-container .row .col-lg-4 img {
  width: 100%;
}
.posts-container .row .col-lg-4 img:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.posts-container .row .col-lg-4 .post-content {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(205, 204, 204, 0.5);
  height: 183px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.posts-container .row .col-lg-4 .post-content span {
  font-family: "Montserrat";
  font-size: 10px;
  line-height: 12.19px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  background-color: #e79e5a;
  color: #ffffff;
  position: absolute;
  top: 23px;
}
.posts-container .row .col-lg-4 .post-content p {
  font-family: "Gilda Display";
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #525252;
  padding-top: 65px;
  position: absolute;
  width: 100%;
}
.page_nav {
  margin-top: 63px;
  display: flex;
  justify-content: center;
}
.page-link {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 17.07px;
  color: #525252;
  border: 1px solid #dcdcdc;
}
.page-link:active {
  background-color: #e79e5a;
  color: #ffffff;
}
.insta-title {
  max-width: 267px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #e79e5a;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.insta-title p {
  font-family: "Gilda Display";
  font-size: 24px;
  line-height: 28.25px;
  padding-top: 8px;
}
.instagram-container {
  max-width: 946px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 102px;
}
.instagram-container .row .col-lg-3 {
  margin-top: 70px;
}
.instagram-container .row .col-lg-3 img {
  width: 100%;
}
.instagram-container .row .col-lg-3 img:hover {
  opacity: 0.5;
  transition: 0.3s;
}
footer {
  background-color: #575757;
  padding-top: 75px;
  height: 100%;
}
.footer-upper {
  max-width: 946px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.follow-site,
.email-input {
  display: flex;
  flex-direction: row;
}
.follow-site {
  margin-top: 23px;
}
.sent-email button {
  width: 49px;
  height: 40px;
  border: 1px solid #cdcdcd;
  outline: none;
  background-color: #575757;
  margin-top: 28px;
}
.sent-email button:active {
  background-color: #e79e5a;
}
.sent-email input {
  max-width: 259px;
  height: 40px;
  border: 1px solid #cdcdcd;
  outline: none;
  background-color: #575757;
  border-right: none;
  font-size: 12px;
  font-family: "Gilda Display";
  line-height: 14.12px;
  padding-left: 15px;
  margin-top: 28px;
}
.follow-site .social i {
  color: #cdcdcd;
}
.follow-site .social {
  border: 1px solid #cdcdcd;
}
.follow-site .social:hover {
  border: 1px solid #e79e5a;
}
.follow-site .social i:hover {
  color: #e79e5a;
}
.footer-post {
  display: flex;
  flex-direction: row;
  margin-top: 11px;
}
.footer-post img {
  width: 73px;
  height: 62px;
}
.footer-post img:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.footer-post a:nth-child(2) {
  margin-left: 15px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  bottom: 5px;
  color: #ffffff;
  text-decoration: none;
}
.footer-post a:nth-child(2):hover {
  color: #e79e5a;
}
.about span,
.sent-email span,
.follow p {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 17.07px;
}
.about p {
  font-family: "Gilda Display";
  font-size: 14px;
  line-height: 26px;
  margin-top: 19px;
}
.follow p {
  margin-top: 37px;
}
.footer-lower {
  max-width: 551px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.footer-lower hr {
  background-color: #787878;
}
.footer-lower p {
  text-align: center;
  color: #ffffff;
  font-family: "Gilda Display";
  font-size: 14px;
  line-height: 16.48px;
}
.footer-lower span {
  color: #e79e5a;
  font-family: "Gilda Display";
  font-size: 14px;
  line-height: 16.48px;
}
@media only screen and (max-width: 575px) {
  .welcome {
    flex-direction: column;
  }
  .welcome-right {
    margin-bottom: 50px;
  }
  .welcome-left {
    margin-top: 15px;
  }
  .lower2 {
    margin-bottom: 20px;
  }
  .lower3 {
    margin-bottom: 40px;
  }
  .footer-upper {
    padding-left: 10px;
  }
  .follow-site {
    margin-bottom: 20px;
  }
  .lower-banner {
    margin-top: -120px;
  }
}
