nav {
  position: relative;
  background-color: rgb(0, 144, 205);
}
.công_cụ {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.cc :link,
.cc :visited {
  font-weight: bolder;
  display: inline-block;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  text-align: center;
  border: 2px rgb(0, 144, 205);
}
.cc :hover,
.cc :active {
  background-color: mediumaquamarine;
}
.cc {
  float: left;
}
section {
  float: left;
}
a {
  text-decoration: none;
}
.tin_moi {
  padding-left: 550px;
  font-weight: bolder;
  color: rgb(0, 144, 205);
  padding-bottom: 15px;
  padding-top: 25px;
  text-decoration: underline;
}
input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 17px;
  margin-right: 16px;
  font-size: 17px;
}
.caption1 {
  position: relative;
  bottom: 50px;
  left: 180px;
  font-weight: bolder;
}
.caption2 {
  position: relative;
  bottom: 50px;
  left: 180px;
  font-weight: bolder;
}
.caption3 {
  position: relative;
  bottom: 50px;
  left: 640px;
  font-weight: bolder;
}
footer {
  position: relative;
  background-color: gray;
  text-align: center;
}
.ff :link,
.ff :visited {
  font-weight: bolder;
  display: inline-block;
  color: white;
  text-decoration: none;
}
.cc_ff {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.ff :hover,
.ff :active {
  color: antiquewhite;
}
.ND {
  text-align: justify;
  margin: 25%;
  margin-top: auto;
  margin-bottom: auto;
}
.TLQ {
  text-decoration: underline;
  font-weight: bolder;
  color: rgb(0, 144, 205);
}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}