body {
  margin: 0;
}
header {
  width: 100%;
  height: 30px;
  background-color: lightcoral;
}
.container {
  display: flex;
  background-color: pink;
}
.left_container {
  width: 60%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  padding: 0 30px 0 30px;
}
.block {
  background-color: blue;
}
.right_container {
  width: 40%;
  height: 800px;
  padding-right: 30px;
}
.long_block {
  width: 100%;
  height: 770px;
  background-color: blue;
}
@media only screen and (max-width: 500px) {
  body {
    background-color: aqua;
  }
  .container {
    display: block;
    padding: 15px;
  }
  .left_container {
    width: 100%;
    padding: 0;
  }
  .right_container {
    width: 100%;
    margin-top: 30px;
  }
}
