* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 200px 0 200px;
}

.title h1 {
  font-size: 32px;
}

.btn {
  display: flex;
  width: 100%;
  margin: 5px 0 10px -25px;
  justify-content: flex-start;
}

.btn button {
  background-color: rgb(4, 179, 4);
  height: 35px;
  width: 180px;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  color: white;
  outline: none;
}

.btn a {
  text-decoration: none;
}

.btn button:hover {
  background-color: white;
  color: rgb(4, 179, 4);
  border: 1px solid rgb(4, 179, 4);
}

.btn span {
  margin-left: 5px;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: black;
  color: white;
}

tr:nth-of-type(odd) {
  background-color: #d8d8d8;
}

tr:nth-of-type(even) {
  background-color: #e5e5e5;
}

.content a {
  text-decoration: none;
}

.content span {
  margin: 0 5px 0 5px;
}

.edit {
  color: rgb(21, 156, 173);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete {
  color: crimson;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete:hover {
  color: black;
}

.edit i,
.delete i {
  margin-right: 5px;
}
