* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* header start */
.header-container {
  position: relative;
}

.header-upper {
  width: 100%;
  padding: 0 100px 0 100px;
}

.header-upper {
  height: 50px;
  position: relative;
}

.header-lower {
  padding: 10px 100px 10px 100px;
  /* background-color: black; */
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
} */

.header-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 11px;
}

.header-social {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.header--social--link {
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 13px;
}

.header-social span {
  padding-top: 5px;
  font-size: 25px;
  color: #e5e5e5;
}

.header-container hr {
  position: relative;
  bottom: 16px;
  background-color: #e5e5e5;
}

.header--social--link .fab {
  color: black;
}

.header--social--link .fab:hover {
  color: #e10000;
}

.header-contact p {
  margin-left: 18px;
}

.header-contact i,
.header-contact span {
  color: black;
}

.header-contact span {
  margin-left: 5px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  left: 15px;
}

/* search box start*/
.search {
  position: relative;
  margin: 10px 0 0 15px;
}
.search .input {
  background-color: transparent;
  border: 0;
  font-size: 16px;
  padding: 15px;
  height: 25px;
  width: 25px;
  transition: width 0.3s ease;
}

.search-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: transform 0.3s ease;
  color: black;
  padding: 0;
}

.search-btn:hover {
  color: #e10000;
}

.search-btn:focus,
input:focus {
  outline: none;
}

.search.active .input {
  width: 239px;
  background-color: #e5e5e5;
}

.search.active .search-btn {
  transform: translateX(237px);
  border-radius: 0%;
  background-color: #e5e5e5;
  color: #e10000;
}
/* search box end*/
.nav-item {
  margin-left: 15px;
}
.nav-link {
  font-weight: bold;
  color: black;
  transition: 0.5s;
}

.nav-link:hover {
  color: #e10000;
}

.nav-item:nth-child(7) .nav-link {
  color: #e10000;
}

/* sign-up start */
.signup-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 195px 40px;
}

.signup-left h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.signup-left p {
  color: #959595;
  margin-bottom: 30px;
  text-align: left;
}

.signup-contact {
  font-weight: bold;
  text-align: left;
}

.signup-contact span {
  margin-right: 15px;
  color: #e10000;
}

.signup-contact .fas {
  font-size: 20px;
}

.signup-contact:last-child {
  margin-top: 15px;
}

.signup-contact:last-child span {
  position: relative;
  top: 3px;
}

.signup-right {
  background-color: #e10000;
  padding: 0 40px 0 40px;
  position: relative;
}

.close {
  position: absolute;
  left: calc(100% - 20px);
  color: white;
}

.close:focus {
  outline: none;
}

.close:hover {
  color: white;
}

.signup-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.input-box {
  height: 50px;
  padding-left: 20px;
}

.input-box:nth-child(2),
.input-box:nth-child(3),
.input-box:nth-child(4) {
  margin-top: 10px;
}

.input-box:nth-child(4) {
  height: 115px;
}

.signup-btn {
  height: 50px;
  background-color: #e10000;
  color: white;
  border: 2px solid white;
  margin-top: 10px;
  font-weight: bold;
}

.signup-btn:hover {
  background-color: white;
  color: #e10000;
}

.join .btn-info {
  height: 42px;
  width: 103px;
  border: solid 2px black;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  color: black;
}

.join .btn-info:hover {
  border: solid 2px #e10000;
  color: #e10000;
}
/* sign-up end */

.breadcrumb {
  padding-left: 100px;
  border-radius: 0;
  margin-top: 25px;
  height: 83px;
  align-content: center;
  background-image: url(./image/Rectangle\ 106.png);
}

.breadcrumb-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: white;
  font-weight: bold;
}

.breadcrumb > .active {
  color: white;
  font-weight: bold;
}

.modal {
  padding: 0 100px 0 100px;
}

@media (max-width: 1350px) {
  .header-upper {
    display: none;
  }

  .main-container {
    position: relative;
    bottom: 33px;
  }
}

@media (max-width: 1042px) {
  .nav-item {
    margin-left: 9px;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-lower {
    background-color: black;
    padding: 10px 5px 10px 5px;
  }

  .header-nav {
    left: 0;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .nav-item {
    text-align: start;
    margin: 0;
  }

  .nav-link {
    color: white;
  }

  .join .btn-info {
    width: 100%;
    border: solid 2px white;
    color: white;
    margin-top: 15px;
  }

  .signup-left {
    display: none;
  }

  .signup-right {
    padding: 0 40px 40px 40px;
  }

  .breadcrumb {
    margin: 0;
  }
  .modal,
  .breadcrumb {
    padding: 0 20px 0 20px;
  }
}

/* header end */
/* back to top start */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 3;
}
/* back to top end */

/* Shopping-content start */
.Shopping-content {
  padding: 70px 100px 70px 100px;
}

.shopping-title,
.Shopping-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: start;
  align-items: center;
}

.product-img {
  max-width: 80px;
  max-height: 80px;
}

.product-img img {
  width: 100%;
}

.shopping-title h5 {
  font-size: 16px;
  font-weight: bold;
}

.Shopping-content hr {
  border: 1px solid #959595;
}

.Shopping-list h5 {
  font-size: 16px;
  font-weight: bold;
  color: #e10000;
  position: relative;
  bottom: 5px;
}

.Shopping-list p {
  font-weight: bold;
  color: #959595;
}

.product-quantity p {
  color: black;
}

.delete-product {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.delete-product button {
  font-size: 20px;
  font-weight: bold;
  color: #e10000;
  border: none;
  background-color: transparent;
  position: relative;
  right: 30px;
  top: 15px;
}

.delete-product button:focus {
  outline: none;
}

.shopping-lower {
  margin-top: 40px;
}

.coupon {
  display: flex;
  flex-direction: row;
}

.coupon input {
  width: 250px;
  height: 50px;
  border: 1px solid #959595;
  padding-left: 20px;
  font-weight: bold;
}

.coupon button,
.checkout button {
  height: 50px;
  width: 180px;
  border: none;
  background-color: #e10000;
  color: white;
  font-weight: bold;
}

.coupon button:focus,
.checkout button:focus {
  outline: none;
}

.coupon button:hover,
.checkout button:hover {
  border: 2px solid #e10000;
  color: #e10000;
  background-color: white;
}

.checkout {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .product-img,
  .hidden {
    display: none;
  }

  .shopping-title,
  .Shopping-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .delete-product button {
    top: 0;
  }

  .coupon {
    display: flex;
    flex-direction: column;
  }

  .coupon input {
    width: 100%;
  }

  .coupon button {
    width: 100%;
    margin: 20px 0 20px 0;
  }

  .checkout a {
    width: 100%;
  }

  .checkout button {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .Shopping-content {
    padding: 70px 20px 70px 20px;
  }
}

@media (max-width: 579px) {
  .product-quantity {
    text-align: center;
  }

  .delete-product button {
    right: 20px;
  }
}
/* Shopping-content end */
/* footer start */
.footer-contact {
  padding: 75px 100px 45px 100px;
  background-color: black;
}

.footer-contact h1 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.footer-social {
  display: flex;
  flex-direction: row;
}

.social-block {
  height: 42px;
  width: 42px;
  background-color: #1e1e1e;
  text-align: center;
  margin-left: 20px;
  position: relative;
  bottom: 8px;
}

.social-block .fab {
  font-size: 20px;
  color: #e10000;
  position: relative;
  top: 11px;
}

.social-block .fab:hover {
  color: white;
}

.footer-email {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: 15px;
}

.footer-email input {
  width: 452px;
  padding-left: 20px;
  background-color: #1e1e1e;
  outline: none;
  border: none;
  color: white;
}

.button--footer {
  background-color: #e10000;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: 0.5s;
}

.button--footer:hover {
  background-color: white;
  color: #e10000;
}

.footer-content {
  padding: 60px 100px 50px 100px;
  background-color: #1e1e1e;
  color: white;
}

.footer-about h1,
.footer-links h1,
.footer-news h1 {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: bold;
}

.footer-links a,
.footer-news a {
  color: white;
  text-decoration: none;
}

.footer-links,
.footer-news {
  display: flex;
  flex-direction: column;
}

.footer-links a:nth-child(3),
.footer-links a:nth-child(4),
.footer-links a:nth-child(5),
.footer-links a:nth-child(6),
.footer-news a:nth-child(3),
.footer-news a:nth-child(4),
.footer-news a:nth-child(5),
.footer-news a:nth-child(6) {
  margin-top: 20px;
}

.footer-links a:hover,
.footer-news a:hover {
  color: #e10000;
}

.footer-copyright {
  text-align: center;
  background-color: black;
  height: 58px;
  color: white;
  padding-top: 17px;
}

.button--style1 {
  height: 50px;
  width: 180px;
  border: none;
  outline: none;
}

@media (max-width: 991px) {
  .footer-social {
    justify-content: center;
  }

  .footer-email {
    justify-content: center;
    margin-top: 30px;
  }

  .footer-about h1,
  .footer-links h1,
  .footer-news h1 {
    font-size: 16px;
  }
  .footer-contact {
    padding: 75px 20px 45px 20px;
  }

  .footer-content {
    padding: 60px 20px 50px 20px;
  }
}

@media (max-width: 767px) {
  .footer-news {
    margin-top: 20px;
  }

  .footer-links {
    margin-top: 35px;
  }

  .footer-about h1,
  .footer-links h1,
  .footer-news h1 {
    color: #e10000;
  }
}

@media (max-width: 579px) {
  .footer-email input {
    width: 100%;
  }

  .footer-contact h1 {
    font-size: 15px;
  }

  .social-block {
    margin-left: 10px;
  }

  .footer-email {
    display: none;
  }
}
/* footer end */
