* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* header start */
.header-container {
  position: relative;
}

.header-upper {
  width: 100%;
  padding: 0 100px 0 100px;
}

.header-upper {
  height: 50px;
  position: relative;
}

.header-lower {
  padding: 10px 100px 10px 100px;
  /* background-color: black; */
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
} */

.header-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 11px;
}

.header-social {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.header--social--link {
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 13px;
}

.header-social span {
  padding-top: 5px;
  font-size: 25px;
  color: #e5e5e5;
}

.header-container hr {
  position: relative;
  bottom: 16px;
  background-color: #e5e5e5;
}

.header--social--link .fab {
  color: black;
}

.header--social--link .fab:hover {
  color: #e10000;
}

.header-contact p {
  margin-left: 18px;
}

.header-contact i,
.header-contact span {
  color: black;
}

.header-contact span {
  margin-left: 5px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  left: 15px;
}

/* search box start*/
.search {
  position: relative;
  margin: 10px 0 0 15px;
}
.search .input {
  background-color: transparent;
  border: 0;
  font-size: 16px;
  padding: 15px;
  height: 25px;
  width: 25px;
  transition: width 0.3s ease;
}

.search-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: transform 0.3s ease;
  color: black;
  padding: 0;
}

.search-btn:hover {
  color: #e10000;
}

.search-btn:focus,
input:focus {
  outline: none;
}

.search.active .input {
  width: 239px;
  background-color: #e5e5e5;
}

.search.active .search-btn {
  transform: translateX(237px);
  border-radius: 0%;
  background-color: #e5e5e5;
  color: #e10000;
}
/* search box end*/
.nav-item {
  margin-left: 15px;
}
.nav-link {
  font-weight: bold;
  color: black;
  transition: 0.5s;
}

.nav-link:hover {
  color: #e10000;
}

.nav-item:nth-child(7) .nav-link {
  color: #e10000;
}

/* sign-up start */
.signup-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 195px 40px;
}

.signup-left h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.signup-left p {
  color: #959595;
  margin-bottom: 30px;
  text-align: left;
}

.signup-contact {
  font-weight: bold;
  text-align: left;
}

.signup-contact span {
  margin-right: 15px;
  color: #e10000;
}

.signup-contact .fas {
  font-size: 20px;
}

.signup-contact:last-child {
  margin-top: 15px;
}

.signup-contact:last-child span {
  position: relative;
  top: 3px;
}

.signup-right {
  background-color: #e10000;
  padding: 0 40px 0 40px;
  position: relative;
}

.close {
  position: absolute;
  left: calc(100% - 20px);
  color: white;
}

.close:focus {
  outline: none;
}

.close:hover {
  color: white;
}

.signup-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.input-box {
  height: 50px;
  padding-left: 20px;
}

.input-box:nth-child(2),
.input-box:nth-child(3),
.input-box:nth-child(4) {
  margin-top: 10px;
}

.input-box:nth-child(4) {
  height: 115px;
}

.signup-btn {
  height: 50px;
  background-color: #e10000;
  color: white;
  border: 2px solid white;
  margin-top: 10px;
  font-weight: bold;
}

.signup-btn:hover {
  background-color: white;
  color: #e10000;
}

.join .btn-info {
  height: 42px;
  width: 103px;
  border: solid 2px black;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  color: black;
}

.join .btn-info:hover {
  border: solid 2px #e10000;
  color: #e10000;
}
/* sign-up end */

.breadcrumb {
  padding-left: 100px;
  border-radius: 0;
  margin-top: 25px;
  height: 83px;
  align-content: center;
  background-image: url(./image/Rectangle\ 106.png);
}

.breadcrumb-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: white;
  font-weight: bold;
}

.breadcrumb > .active {
  color: white;
  font-weight: bold;
}

.modal {
  padding: 0 100px 0 100px;
}

@media (max-width: 1350px) {
  .header-upper {
    display: none;
  }

  .main-container {
    position: relative;
    bottom: 33px;
  }
}

@media (max-width: 1042px) {
  .nav-item {
    margin-left: 9px;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-lower {
    background-color: black;
    padding: 10px 5px 10px 5px;
  }

  .header-nav {
    left: 0;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .nav-item {
    text-align: start;
    margin: 0;
  }

  .nav-link {
    color: white;
  }

  .join .btn-info {
    width: 100%;
    border: solid 2px white;
    color: white;
    margin-top: 15px;
  }

  .signup-left {
    display: none;
  }

  .signup-right {
    padding: 0 40px 40px 40px;
  }

  .breadcrumb {
    margin: 0;
  }
  .modal,
  .breadcrumb {
    padding: 0 20px 0 20px;
  }
}

/* header end */
/* back to top start */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 3;
}
/* back to top end */
/* check out start */
.checkout-container {
  padding: 70px 0 70px 0;
}

/* checkout-upper start */
.checkout-upper {
  padding: 0 100px 0 100px;
}

.checkout-upper .btn-link {
  border: none;
  font-weight: bold;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
  text-decoration: none;
}

.checkout-upper .btn-link:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.btn-title span {
  color: #e10000;
  margin-left: 10px;
}

[data-toggle="collapse"] .fa:before {
  content: "\f139";
  color: #e10000;
  position: relative;
  top: 4px;
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
  color: #e10000;
  position: relative;
  top: 4px;
}

.login-wrapper {
  box-shadow: 0px 3px 3px 3px #e5e5e5;
  margin-top: 35px;
  min-height: 213px;
  padding: 50px 45px 30px 45px;
}

.log-in h5 {
  font-size: 16px;
  font-weight: bold;
}

.log-in span {
  color: #e10000;
}

.type-in input {
  width: 100%;
  height: 50px;
  border: 1px solid #959595;
}

.save-acc {
  display: flex;
  flex-direction: row;
}

.save-acc input {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.log-in button {
  width: 180px;
  height: 50px;
  background-color: #e10000;
  color: white;
  border: none;
}

.forget-pw {
  margin-top: 25px;
  font-weight: bold;
}

.forget-pw a {
  color: #e10000;
  text-decoration: none;
}
/* checkout-upper end */
/* checkout-lower start */
.checkout-lower {
  padding: 50px 100px 70px 100px;
}

.checkout-lower-left h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-name,
.last-name {
  width: 47%;
}

.name h5 {
  font-weight: bold;
  font-size: 16px;
}

.name span {
  color: #e10000;
}

.name input {
  width: 100%;
  height: 50px;
  padding: 20px;
}

.sign-up-form {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.sign-up-form h5 {
  font-weight: bold;
  font-size: 16px;
}

.sign-up-form span {
  color: #e10000;
}

.sign-up-form input {
  height: 50px;
  padding: 20px;
}

.sign-up-form select {
  height: 50px;
}

.checkout-lower-right h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

.checkout-lower-right .btn-link {
  background-color: #e5e5e5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0;
}

.checkout-lower-right .btn-link:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.payment-one .row,
.payment-two .row {
  padding: 10px 0 10px 15px;
}

.credit-card .btn {
  background-color: white;
  border-radius: 0;
  border: 1px solid #959595;
  color: #959595;
}

.credit-card .btn:hover {
  border: 1px solid #e10000;
  color: #e10000;
}

.credit-card .modal-content {
  padding: 50px 25px 30px 25px;
  position: relative;
}

.credit-card .modal-content h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 35px;
}

.credit-card .close {
  color: #e10000;
  top: 3px;
}

.credit-card input {
  height: 40px;
  border: 1px solid #959595;
  padding-left: 15px;
  color: #959595;
}

.card-selection {
  display: flex;
  flex-direction: row;
  margin: 15px 0 5px 0;
}

.card-selection input {
  width: 46.8%;
  margin-right: 5px;
}

.date h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.date-input1,
.date-input2 {
  padding: 0;
}

.date-input1 input,
.date-input2 input {
  width: 93.5%;
}

.customer-address {
  margin: 5px 0 15px 0;
}

.customer-address input {
  width: 100%;
}

.credit-card p {
  color: #959595;
}

.credit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.credit-button button {
  height: 40px;
  width: 150px;
  background-color: #e10000;
  font-weight: bold;
  color: white;
  border: none;
}

.credit-button button:focus {
  outline: none;
}

.credit-button button:hover {
  border: 2px solid #e10000;
  color: #e10000;
  background-color: white;
}

/* checkout-lower end */
/* bill start */
.bill h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 60px;
  padding-left: 100px;
}

.bill-content {
  background-color: #e5e5e5;
  padding: 45px 100px 40px 100px;
}

.bill-content hr {
  height: 2px;
  border: none;
  background-color: #e10000;
}

.bill-content-upper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bill-content-upper h5 {
  font-size: 16px;
  font-weight: bold;
}

.bill-content-upper p {
  font-weight: bold;
  color: #e10000;
  margin-top: 25px;
}

.bill-content-lower {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 35px;
}

.bill-content-lower h5 {
  font-size: 16px;
  font-weight: bold;
}

.bill-content-lower p {
  font-weight: bold;
  color: #e10000;
}

.bill button {
  margin: 70px 0 0 100px;
  width: 180px;
  height: 50px;
  background-color: #e10000;
  color: white;
  font-weight: bold;
  border: none;
}

.bill button:focus {
  outline: none;
}

.bill button:hover {
  border: 2px solid #e10000;
  color: #e10000;
  background-color: white;
}

/* bill end */
@media (max-width: 991px) {
  .type-in:nth-child(2) {
    margin-top: 10px;
  }

  .save-acc {
    margin-top: 10px;
  }

  .name {
    flex-direction: column;
  }

  .first-name,
  .last-name {
    width: 100%;
  }

  .last-name {
    margin-top: 35px;
  }

  .checkout-lower-right {
    margin-top: 35px;
  }

  .card-selection {
    flex-direction: column;
  }

  .card-selection input {
    width: 100%;
    margin-bottom: 15px;
  }

  .date-input2 {
    margin-top: 15px;
  }

  .date-input1,
  .date-input2 {
    padding-right: 15px;
  }

  .date-input1 input,
  .date-input2 input {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .checkout-upper {
    padding: 0 20px 0 20px;
  }

  .checkout-lower {
    padding: 50px 20px 70px 20px;
  }

  .bill h1 {
    padding-left: 20px;
  }
  .bill-content {
    padding: 45px 20px 40px 20px;
  }
  .bill button {
    margin: 70px 0 0 20px;
  }
}

@media (max-width: 575px) {
  .pick-card {
    display: none;
  }
}

/* check out end */
/* footer start */
.footer-contact {
  padding: 75px 100px 45px 100px;
  background-color: black;
}

.footer-contact h1 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.footer-social {
  display: flex;
  flex-direction: row;
}

.social-block {
  height: 42px;
  width: 42px;
  background-color: #1e1e1e;
  text-align: center;
  margin-left: 20px;
  position: relative;
  bottom: 8px;
}

.social-block .fab {
  font-size: 20px;
  color: #e10000;
  position: relative;
  top: 11px;
}

.social-block .fab:hover {
  color: white;
}

.footer-email {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: 15px;
}

.footer-email input {
  width: 452px;
  padding-left: 20px;
  background-color: #1e1e1e;
  outline: none;
  border: none;
  color: white;
}

.button--footer {
  background-color: #e10000;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: 0.5s;
}

.button--footer:hover {
  background-color: white;
  color: #e10000;
}

.footer-content {
  padding: 60px 100px 50px 100px;
  background-color: #1e1e1e;
  color: white;
}

.footer-about h1,
.footer-links h1,
.footer-news h1 {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: bold;
}

.footer-links a,
.footer-news a {
  color: white;
  text-decoration: none;
}

.footer-links,
.footer-news {
  display: flex;
  flex-direction: column;
}

.footer-links a:nth-child(3),
.footer-links a:nth-child(4),
.footer-links a:nth-child(5),
.footer-links a:nth-child(6),
.footer-news a:nth-child(3),
.footer-news a:nth-child(4),
.footer-news a:nth-child(5),
.footer-news a:nth-child(6) {
  margin-top: 20px;
}

.footer-links a:hover,
.footer-news a:hover {
  color: #e10000;
}

.footer-copyright {
  text-align: center;
  background-color: black;
  height: 58px;
  color: white;
  padding-top: 17px;
}

.button--style1 {
  height: 50px;
  width: 180px;
  border: none;
  outline: none;
}

@media (max-width: 991px) {
  .footer-social {
    justify-content: center;
  }

  .footer-email {
    justify-content: center;
    margin-top: 30px;
  }

  .footer-about h1,
  .footer-links h1,
  .footer-news h1 {
    font-size: 16px;
  }
  .footer-contact {
    padding: 75px 20px 45px 20px;
  }

  .footer-content {
    padding: 60px 20px 50px 20px;
  }
}

@media (max-width: 767px) {
  .footer-news {
    margin-top: 20px;
  }

  .footer-links {
    margin-top: 35px;
  }

  .footer-about h1,
  .footer-links h1,
  .footer-news h1 {
    color: #e10000;
  }
}

@media (max-width: 575px) {
  .footer-email input {
    width: 100%;
  }

  .footer-contact h1 {
    font-size: 15px;
  }

  .social-block {
    margin-left: 10px;
  }

  .footer-email {
    display: none;
  }
}
/* footer end */
