.container {
  width: 100%;
}
.signup-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 205px 30px;
}

.signup-right {
  background-color: #e10000;
}

.signup-left h1 {
  font-size: 24px;
  font-weight: bold;
}
